/* navbar.css */
body {
    font-family: 'Heebo', sans-serif;
}

#navbar {
    position: absolute;
    background-color: #15212F;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it appears above other elements */
    width: 306px;
    height: 350px;
}

.navbar {
    display: flex;
    flex-direction: column; /* Stack items vertically */
}

.navbar a {
    color: #A9C2D6;
    font-weight: 700;
    font-size: 13px;
    line-height: 20.56px;
    padding: 16px 12px 16px 12px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 15px;
    letter-spacing: 2px;
}

.navbar-mobile a {
    font-size: 12px;
}

.navbar a:hover {
    color: #FFFFFF;
}

.product-icon {
    margin-right: 8px; /* Space between icon and text */
    height: 20px;
    width: 20px;
}

.product-icon-mobile {
    height: 16px;
    width: 16px;
}

.open-new-icon {
    float: right;
    width: 16px;
    height: 16px;
}

.navbar a span {
    position: absolute;
}

.hidden {
    display: none; /* Hide the navbar by default */
}

#navbar-toggle {
    background-color: #15212F;
    color: white;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
    border-right: 2px solid #15212F;
    width: 60px;
    height: 64px;
    font-size: 16px;
}
